/* ----------------------------- *\
|             $TABLES             |
\* ----------------------------- */

/*-------Branding colors */

table, tr {
  border-style: solid;
  border-width: 2px;
  border-color: $color-brand;
}

table tr:hover {
  background-color: $color-secondary;
}
